# Compiled Object files
*.o
*.obj

# Compiled Binary files
*.exe
*.out
*.app

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.dll
*.dylib
*.so

# Debug files
*.dSYM/
*.ipch/
*.pdb
*.ilk

# Logs and databases
*.log
*.sql
*.sqlite

# Temporary files
*.tmp
*.temp
*.swp
*.swo

# Backup files
*.bak
*.old
*.orig

# IDE-specific files
.idea/
.vscode/
*.code-workspace
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db
